@use '../../styles/mixins.scss' as *;
@use '../../styles/vars.scss' as *;

.root {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
	gap: 2.4rem;
	padding-bottom: 2rem;
}

.filter {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 368px;
	width: 100%;
	padding: 8px;
	margin-bottom: 2.4rem;


	position: relative;

	background-color: $black-20;
	border-radius: 12px;

}

.radio {
	@include text-link1;
	display: inline-block;
	padding: 8px 32px;

	border-radius: 8px;
	color: $grey-300;
	cursor: pointer;

	transition: all $transform-label;
}

.radio.active {
	color: $primary-50;
	background-color: $primary-400;
}

.indicator {
	display: inline-block;
	height: 100%;
	background-color: $primary-400;
	border-radius: 8px;

	position: absolute;
	left: 8px;
	top: 8px;
	z-index: 1;

	transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}