@use '../../styles/mixins.scss' as *;
@use '../../styles/vars.scss' as *;

.root {
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
	// 537
	grid-auto-rows: auto;
	gap: 2.4rem;

	@include media(smDesktop) {
		grid-template-columns: repeat(3, minmax(auto, 282px));
		justify-content: space-between;
		gap: 5rem 2.4rem;
	}

	@include media(tablet) {
		grid-template-columns: repeat(2, minmax(auto, 282px));
	}

	@include media(mobile) {
		grid-template-columns: repeat(auto-fill, minmax(auto, 282px));
		justify-content: center;
	}
}

.filter {
	display: inline-flex;
	align-items: center;
	gap: 1rem;
}

.type {
	@include text-h3;
	color: $grey-400;
	position: relative;

	&::after {
		content: " (" attr(data-count)")";
		@include text-p2;
		color: inherit;

		position: absolute;
		top: 0;
		right: -3rem;
	}
}

.count {
	@include text-p2;
	display: inline-block;
	height: 100%;
	color: $grey-400;
}