@use "../../styles/mixins.scss" as *;
@use "../../styles/vars.scss" as *;

.root {
	@include text-link1;
	height: 100%;
	padding: 8px;

	background-color: rgba(32, 40, 62, 0.8);
	backdrop-filter: blur(80px);
	border-radius: $border-radius;
}

.link {
	display: block;
	transition: all .3s;
}

.link:hover .img,
.link:focus-visible .img {
	transition: all .3s;
	transform: scale(1.05);
}

.head {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	border-radius: $border-radius;
	position: relative;
}

.img {
	border-radius: 8px;
	transition: all .3s;
	border-radius: $border-radius;
}

.name {
	color: $grey-50;
	padding: 8px;
}

.body {
	@include text-link1;
	display: flex;
	flex-direction: column;
	row-gap: 1.6rem;
	padding: 8px;
}

.suggest {
	color: $primary-400;
}

.suggest svg {
	stroke: $primary-400;
}

.suggested {
	color: $success-400;
	pointer-events: none;
}

.suggested svg {
	stroke: $success-400
}

.watched {
	color: $success-400;
}

.watched svg {
	stroke: $success-400;
}