@use "../../styles/mixins.scss" as *;
@use "../../styles/vars.scss" as *;

.root {
	@include text-link1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 282px;
	width: 100%;
	// height: 537px;
	padding: 8px;

	background-color: rgba(32, 40, 62, 0.8);
	backdrop-filter: blur(80px);
	border-radius: $border-radius;
}

.link {
	display: block;
	border-radius: $border-radius-sm;
}

.full {
	height: 100%;
}

.max {
	height: 537px;
}

.head {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	position: relative;
	border-radius: $border-radius-sm;
}

.image {
	border-radius: $border-radius-sm;
	height: 400px;
	position: relative;
}

.image span {
	border-radius: inherit;
}

.name {
	color: $grey-50;
	padding: 8px;
}

.body {
	@include text-link1;
	display: flex;
	flex-direction: column;
	row-gap: 1.6rem;
	padding: 8px;
}

.suggest {
	color: $primary-400;
}

.suggest svg {
	stroke: $primary-400;
}

.suggested {
	color: $success-400;
	pointer-events: none;
}

.suggested svg {
	stroke: $success-400
}

.watched {
	color: $success-400;
	pointer-events: none;
}

.watched svg {
	stroke: $success-400;
}

.error {
	color: $error-400;
	pointer-events: none;
}

.error svg {
	stroke: $error-400;
}

.enter {
	opacity: 0;
}

.enter_active {
	opacity: 1;
	transition: all 500ms ease-in-out;
}

.exit {
	opacity: 1;
}

.exit_active {
	opacity: 0;
	transition: all 500ms ease-in-out;
}