@use '../../styles/mixins.scss' as *;
@use '../../styles/vars.scss' as *;

.wrapper {
	display: inline-block;
	position: relative;
}

.root {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	padding: 0;

	border-radius: $border-radius;
	background: none;
	border: none;

	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	color: inherit;

	transition: all .3s ease;
}

.default {
	@include text-p2;
	padding: 16px 32px;
	background-color: $primary-400;
	color: $white-100;

	&:hover,
	&:focus-visible {
		background-color: darken($primary-500, 5%);
	}
}

.password {
	width: 24px;
	height: 24px;

	position: absolute;
	right: 16px;
	top: 50%;

	transform: translateY(-50%);

	background: none;
}

.root span {
	order: 2;
}

.icon {
	width: 24px;
	height: 24px;
	pointer-events: none;
	stroke: $white-100;
}

.icon_left {
	order: 1;
}

.icon_right {
	order: 3;
}

.pagination {
	@include text-caption;
	justify-content: center;
	min-width: 32px;
	height: 32px;
	padding: .2em;

	border-radius: 50%;
	border: 1px solid $primary-400;
	color: $white-100;
}

.card {
	background: none;
	flex-wrap: wrap;



	@include media(lMobile) {
		justify-content: center;
	}

	@include media(mMobile) {
		justify-content: flex-start;
	}


	/* 	@include media(mobile) {
		justify-content: center;
	} */
}

.modal {
	border-radius: $border-radius-sm;
	background-color: $black-30;
	width: 40px;
	height: 40px;
	justify-content: center;
}

.modal svg {
	fill: $grey-400;
}