@use '../vars.scss' as *;

$breakpoints: (
	'mobile': 576,
	'tablet': 768,
	'smDesktop': 991.98,
	'container': $container - 0.02
);

@mixin media($breakpoint, $type: 1) {

	@if map-has-key($breakpoints, $breakpoint) {
		$breakpoint-value: map-get($breakpoints, $breakpoint);

		@if $type ==1 {
			@media (max-width: #{$breakpoint-value}px) {
				@content;
			}
		}

		@else {
			@media (min-width: #{$breakpoint-value}px) {
				@content;
			}
		}

	}

	@else {
		@warn 'Invalid breakpoint: #{$breakpoint}.';
	}
}