@use "../../../styles/mixins.scss" as *;
@use "../../../styles/vars.scss" as *;

.root {
	@include text-link1;
	display: inline-block;
	padding: 8px 32px;

	border-radius: 8px;
	color: $grey-300;
	cursor: pointer;

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;

	transition: all .12s cubic-bezier(.75, .25, .25, .75);
	position: relative;
	z-index: 2;

	outline-offset: 10px;
	transition: all .2s ease;

	&:focus-visible {
		outline-style: solid;
		outline-color: $primary-500;
		outline-offset: 0;
		outline-width: 3px;
	}

	@include media(mobile) {
		@include text-link2;
	}
}

.active {
	color: $primary-50;
}

.label {
	cursor: pointer;
}