@use 'sass:math';
@use '../../styles/mixins' as *;
@use '../../styles/vars' as *;

.root {
	width: 100%;
	margin: 0 auto;
	padding: 0 #{math.div($container-padding, 2)}px;

	@include media(xsMobile, 1) {
		max-width: 576px;
	}

	@include media(tablet, 1) {
		max-width: 768px;
	}

	@include media(smDesktop, 1) {
		max-width: 991.98px;
	}

	@include media(desktop, 1) {
		max-width: #{$container}px;
	}

}

.mobile {
	max-width: 576px;
}

.tablet {
	max-width: 768px;
}

.smDesktop {
	max-width: 991.98px;
}

.desktop {
	max-width: #{$container}px;
}

:export {
	mobileW: 320;
	tabletW: 768.98;
	smDesktopW: 992;
	containerW: 1230;
}