@use '../../styles/mixins.scss' as *;
@use '../../styles/vars.scss' as *;


.root {
	display: grid;
	grid-template-columns: repeat(2, minmax(320px, 486px));
	justify-content: space-between;
	align-items: center;
	gap: 5rem;
	height: 100%;

	@include media(tablet) {
		grid-template-columns: 100%;
		justify-content: center;
	}
}

.image {
	@include media(tablet) {
		display: none;
	}
}

.title {
	@include text-h1;
	color: $grey-100;
}

.title+.error {
	display: inline-block;
	margin-top: 1.4rem;
	margin-bottom: 2.5rem;
}

.title+.group {
	margin-top: 4rem;
}

.group {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	margin-bottom: 4rem;
}

.button {
	width: 100%;
	justify-content: center;
}

.error {
	@include text-p2;
	color: $error-500;
}