/* Colors */
$primary-50: #EBE9FE;
$primary-100: #DEDBFD;
$primary-200: #BEB7FB;
$primary-300: #9C92F8;
$primary-400: #7B6EF6;
$primary-500: #5A4AF4;
$primary-600: #483BC3;
$primary-700: #362C92;
$primary-800: #251E62;
$primary-900: #120F31;

$secondary-50: #E4F4FF;
$secondary-100: #D2ECFE;
$secondary-200: #A5DBFE;
$secondary-300: #78C8FD;
$secondary-400: #4BB7FD;
$secondary-500: #1EA5FC;
$secondary-600: #1884CA;
$secondary-700: #126297;
$secondary-800: #0C4265;
$secondary-900: #062032;

$tertary-50: #F6EDFF;
$tertary-100: #F0E2FF;
$tertary-200: #E2C5FF;
$tertary-300: #D3A7FF;
$tertary-400: #C58AFF;
$tertary-500: #B66DFF;
$tertary-600: #9257CC;
$tertary-700: #6D4199;
$tertary-800: #492C66;
$tertary-900: #241633;

$grey-50: #EBEEF5;
$grey-100: #C3C8D4;
$grey-200: #A8AEBF;
$grey-300: #8E95A9;
$grey-400: #767E94;
$grey-500: #61697F;
$grey-600: #475069;
$grey-700: #323B54;
$grey-800: #20283E;
$grey-900: #323B54;

$success-50: #E1F9F2;
$success-100: #CDF5E9;
$success-200: #9BEBD3;
$success-300: #69E2BD;
$success-400: #37D8A7;
$success-500: #05CE91;
$success-600: #04A574;
$success-700: #037C57;
$success-800: #02523A;
$success-900: #01291D;

$error-50: #FFECEC;
$error-100: #FFDFDF;
$error-200: #FFC0C0;
$error-300: #FFA0A0;
$error-400: #FF8181;
$error-500: #FF6161;
$error-600: #CC4E4E;
$error-700: #993A3A;
$error-800: #662727;
$error-900: #331313;

$warning-50: #FFF5E9;
$warning-100: #FFEFDB;
$warning-200: #FFDEB6;
$warning-300: #FFCE92;
$warning-400: #FFBD6D;
$warning-500: #FFAD49;
$warning-600: #CC8A3A;
$warning-700: #99682C;
$warning-800: #66451D;
$warning-900: #33230F;

$white-10: rgba(255, 255, 255, 0.1);
$white-20: rgba(255, 255, 255, 0.2);
$white-30: rgba(255, 255, 255, 0.3);
$white-40: rgba(255, 255, 255, 0.4);
$white-50: rgba(255, 255, 255, 0.5);
$white-60: rgba(255, 255, 255, 0.6);
$white-70: rgba(255, 255, 255, 0.7);
$white-80: rgba(255, 255, 255, 0.8);
$white-90: rgba(255, 255, 255, 0.9);
$white-100: #FFFFFF;

$black-10: rgba(0, 0, 0, 0.1);
$black-20: rgba(0, 0, 0, 0.2);
$black-30: rgba(0, 0, 0, 0.3);
$black-40: rgba(0, 0, 0, 0.4);
$black-50: rgba(0, 0, 0, 0.5);
$black-60: rgba(0, 0, 0, 0.6);
$black-70: rgba(0, 0, 0, 0.7);
$black-80: rgba(0, 0, 0, 0.8);
$black-90: rgba(0, 0, 0, 0.9);
$black-100: #000000;

/* Font */
$baseFontSize: 10;
$font-family: 'Poppins',
	sans-serif;
$defaultFont: $font-family, system-ui,
	-apple-system,
	"Segoe UI",
	Roboto,
	"Helvetica Neue",
	Arial,
	"Noto Sans",
	"Liberation Sans",
	sans-serif,
	"Apple Color Emoji",
	"Segoe UI Emoji",
	"Segoe UI Symbol",
	"Noto Color Emoji";
$defaultFontSize: 10;
$defaultFontWeight: 400;


/* Container */
$container-max-width: 1440;
$container-content: 1200;
$container-padding: 30;
$container: $container-content + $container-padding;