@use '../../../styles/mixins.scss' as *;
@use '../../../styles/vars.scss' as *;

.form {
	max-width: 400px;
	width: 100%;
}

.group {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	margin-bottom: 4rem;
}

.button {
	width: 100%;
	justify-content: center;
}

.error {
	@include text-p2;
	margin: 2rem 0;
	color: $error-400;
	text-align: center;
}